
data/web_archive_5_25_NTP.dat
data/web_archive_5_25_TPE.dat
.DS_Store
.DS_Store
data/web_archive_5_28_NTP.dat
data/web_archive_5_28_TPE.dat
.Rproj.user
data/web_archive_6_01_NTP.dat
data/web_archive_6_01_TPE.dat
.DS_Store
.DS_Store
